button.big-button {
	transition: all 175ms cubic-bezier(0, 0, 1, 1);}
button.big-button::before {
	transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
body , .card, .ns_hide, select, .button{
    transition: background-color 500ms ease-in-out, color 50ms ease-in-out, border-color 500ms ease-in-out;
}
